@model Footballer
<h2>Создание футболиста</h2>
<form asp-action="Create" asp-controller="Home" >
    <p>
        <label asp-for="FirstName">Имя</label><br />
        <input type="text" asp-for="FirstName" />
    </p>
    <p>
        <label asp-for="LastName">Фамилия</label><br />
        <input type="text" asp-for="LastName" />
    </p>
    <p>
        <label asp-for="Sex">Пол</label><br />
        <select asp-for="Sex">
            <option value="@Sex.Male">Male</option>
            <option value="@Sex.Female">Female</option>
        </select>
    </p>
    <input type="date" asp-for="Birthday"    />
    <p>
        <label asp-for="Country">Страна</label><br />
        <select asp-for="Country">
            <option value="@Country.USA">USA</option>
            <option value="@Country.Russia">Russia</option>
            <option value="@Country.Italy">Italy</option>
        </select>
    </p>
    <p>
        <label asp-for="TeamName">Команда</label><br />
        <select asp-for="TeamName" id="teamSelection">
        @foreach (var item in @ViewBag.Teams){
            <option value="@item.Name">@item.Name</option>
        }
        <option value="other_team_vote">Выбрать другую</option>
        </select>
        <div id="customTeamContainer" style="display: none;">
            <label asp-for="TeamName">Введите название своей команды:</label>
            <input type="text" asp-for="TeamName" id="teamInput"/>
        </div>
        
    </p>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
</form>

@section scripts {
        <script>
            $(document).ready(function() {
                $('#teamSelection').change(function() {
                    if ($(this).val() === 'other_team_vote') {
                        $('#customTeamContainer').show();
                    } else {
                        $('#customTeamContainer').hide();
                    }
                });
            });
        </script>
}